# Исключить виртуальное окружение
venv/
.env

# Исключить файлы конфигурации, содержащие секреты
*.env
.env.*

# Исключить ненужные файлы
*.log
*.bak
*.swp
*.tmp
*.db
*.sqlite3

# Исключить файлы системы и редакторов
.DS_Store
.idea/
.vscode/
Thumbs.db
*.orig

# Исключить файлы из Git
.git/
.gitignore

# Исключить статические файлы и медиа, которые не нужны для сборки
staticfiles/
media/
*.tar.gz

# Исключить временные файлы Docker
docker-compose.override.yml
