asgiref==3.8.1
certifi==2024.2.2
charset-normalizer==3.3.2
defusedxml==0.7.1
Django==5.0.4
django-allauth==0.62.1
django-debug-toolbar==3.2.4
django-ratelimit==4.1.0
idna==3.7
oauthlib==3.2.2
psycopg2==2.9.9
psycopg2-binary==2.9.10
python-dotenv==1.0.1
python3-openid==3.2.0
requests==2.31.0
requests-oauthlib==2.0.0
setuptools==74.1.1
sqlparse==0.4.4
tzdata==2024.1
urllib3==2.2.1
wheel==0.44.0
