<!-- templates/password_reset_form_template.html -->
{% extends "welcome/welcome.html" %}

{% block content %}

    <h2>Сброс пароля</h2>
    <p>Введите свой адрес электронной почты, который привязан к вашему аккаунту, чтобы запросить сброс пароля к аккаунту, призязанному к ней:</p>
    
    <form method="post" class="form">
        {% csrf_token %}
        {% for form_elem in form %} 

        <div class="p-2 form-row field-email">
            <label class="col-form-label">{{ form_elem.label }}</label>

            {{ form_elem }}
        </div>
        {% endfor %}
            <button class="btn btn-primary" type="submit">Запросить сброс пароля</button>
        </form>

    {% endblock %}