<!-- templates/password_reset_form_template.html -->
{% extends "welcome/welcome.html" %}

{% block content %}

    <h2>Смена пароля</h2>    
    <div id="content-main">

        <form method="post" class="form">
            {% csrf_token %}
            <p>Пожалуйста, ради безопасности введите ваш старый пароль, затем введите новый пароль дважды, чтобы подтвердить, что вы написали правильно.</p>

            {% if form.errors %} 
            {{form.errors}} {% endif %}
            {% for form_elem in form %} 
            <div class="p-2 form-group row">
                
                <label class="col-sm-3 col-form-label">{{ form_elem.label }}</label>
                <div class="col-sm-9">
                    {% if form_elem.name == "old_password" %}
                        {% if not request.user.has_usable_password %}
                        Пароль не задан. <br>
                        {% endif %}
                    {% endif %}

                    {{form_elem}}
                    {% if form_elem.name == "new_password1" %}
                <small class="help mt-2">
                    <ul class="p-1">
                        <p>Your password can’t be too similar to your other personal information.</p>
                        <p>Ваш пароль должен содержать как минимум 8 символов.</p>
                        <p>Your password can’t be a commonly used password.</p>
                        <p>Your password can’t be entirely numeric.</p>
                    </ul>
                </small>
                {% endif %}
                </div>
            </div>
            {% endfor %}
            <div class="submit-row">
                <button class="btn btn-primary" type="submit">Изменить пароль</button>
            </div>
        </form>
    </div>


    {% endblock %}