<!-- templates/password_reset_form_template.html -->
{% extends "welcome/welcome.html" %}

{% block content %}

    <h2>Подтверждение сброса пароля</h2>
    <p>Вы получили это письмо, потому что запросили сброс пароля для вашей учетной записи на сайте {{ site_name }}.</p>
    <form method="post" class="form">
        {% csrf_token %}
        {% for form_elem in form %} 
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">{{ form_elem.label }}</label>
                <div class="col-sm-9">
                    {{form_elem}}
                </div>
            </div>
        {% endfor %}

        <div class="submit-row">
            <button class="btn btn-primary" type="submit">Изменить пароль</button>
        </div>
    </form>

{% endblock %}