{% extends "alter_authentication/baseWrapper.html" %}
{% load authentication_tags %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">
                    <h4>Введите данные второго фактора аутентификации</h4>
                </div>
                <div class="card-body">
                    <form method="post" url="{% url 'two_factor_auth_login' %}">
                        <input type="hidden" name="user_data" id="hiddenUserData">
                        {% csrf_token %}
                        {% if auth_second_factor.second_factor == 'Quiz' %}
                            {% include 'alter_authentication/two_factor_auth/two_factor_quiz.html' %}
                        {% elif auth_second_factor.second_factor == 'OTP' %}
                            {% include 'alter_authentication/two_factor_auth/two_factor_otp.html' %}
                        {% elif auth_second_factor.second_factor == 'Test' %}
                            {% include 'alter_authentication/two_factor_auth/two_factor_test.html' %}
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    {% include 'alter_authentication/basic_functions.js' %}

</script>

{% endblock %}
